In [1]:
import pandas as pd

train_filename = "Data_process/NQ_dataset/NQ_512_qg.tsv"
train_filename_2 = "Data_process/NQ_dataset/NQ_doc_aug.tsv"
train_filename_3 = "Data_process/NQ_dataset/nq_train_doc_newid.tsv"
train_filename_4 = "Data_process/NQ_dataset/nq_title_abs.tsv"

df = pd.read_csv(
                train_filename,
                names=["query", "queryid", "oldid", "bert_k30_c30_1"],
                encoding='utf-8', header=None, sep='\t',
                # dtype={'query': str, 'queryid': str, 'oldid': str, args.id_class: str}
                )
df2 = pd.read_csv(
                train_filename_2,
                names=["query", "queryid", "oldid", "bert_k30_c30_1"],
                encoding='utf-8', header=None, sep='\t',
                # dtype={'query': str, 'queryid': str, 'oldid': str, args.id_class: str}
                )
df3 = pd.read_csv(
                train_filename_3,
                names=["query", "queryid", "oldid", "bert_k30_c30_1"],
                encoding='utf-8', header=None, sep='\t',
                # dtype={'query': str, 'queryid': str, 'oldid': str, args.id_class: str}
                )
df4 = pd.read_csv(
                train_filename_4,
                names=["query", "queryid", "oldid", "bert_k30_c30_1"],
                encoding='utf-8', header=None, sep='\t',
                # dtype={'query': str, 'queryid': str, 'old
                # id': str, args.id_class: str}
                )

df = pd.concat([df, df2, df3, df4], ignore_index=True)

In [9]:
df5 = df4.drop_duplicates(subset=['query', "oldid"], keep='first')

In [3]:
# num unique bert_k30_c30_1

print("num unique bert_k30_c30_1: ", len(df['bert_k30_c30_1'].unique()))

num unique bert_k30_c30_1:  109739

In [11]:
df4.isnull().sum()

query             75
queryid            0
oldid              0
bert_k30_c30_1     0
dtype: int64

In [15]:
df

,query,queryid,oldid,bert_k30_c30_1
0,internet email marketing definition,5655493461695504401,0,3-14-2-0
1,what is email marketing,5655493461695504401,0,3-14-2-0
2,what is meant by em marketing,5655493461695504401,0,3-14-2-0
3,what is the purpose of email marketing?,5655493461695504401,0,3-14-2-0
4,what is email marketing?,5655493461695504401,0,3-14-2-0
...,...,...,...,...
3437241,"natasha, pierre & the great comet of 1812 Nat...",8391452533341141122,28339,16-14-7-2
3437242,sarbanes – oxley act The Sarbanes -- Oxley Ac...,-1834169292338717359,109738,6-26-1-16
3437243,divergence,3633447138060018130,43021,23-18-11-4
3437244,"cardiac output Cardiac output ( CO , also den...",8453789254281810891,36157,23-1-14-1
3437245,smoke gets in your eyes `` Smoke Gets in Your...,1747539378277902434,54901,14-22-26-8

In [18]:
df5

,query,queryid,oldid,bert_k30_c30_1
0,email marketing Email marketing is the act of...,5655493461695504401,0,3-14-2-0
1,the mother ( how i met your mother ) Tracy Mc...,5328212470870865242,1,16-5-29-0
2,human fertilization Human fertilization is th...,4435104480114867852,2,13-18-4
3,list of national football league career quarte...,5289242154789678439,3,5-9-0-0
4,roanoke colony The Roanoke Colony ( / ˈroʊəˌn...,5489863933082811018,4,4-22-1-0
...,...,...,...,...
315193,chrysler 300c The Chrysler Corporation has us...,-2175263027345747679,109736,15-7-7-16
315197,i see the want to in your eyes `` I See the W...,-2139967489308892220,109737,14-20-25-2
315199,sarbanes – oxley act The Sarbanes -- Oxley Ac...,-1834169292338717359,109738,6-26-1-16
315200,divergence,3633447138060018130,43021,23-18-11-4
315201,"cardiac output Cardiac output ( CO , also den...",8453789254281810891,36157,23-1-14-1

In [4]:
df4.nunique()

query             145951
queryid           315203
oldid             109739
bert_k30_c30_1    109739
dtype: int64

In [2]:
df

,query,queryid,oldid,bert_k30_c30_1
0,internet email marketing definition,5655493461695504401,0,3-14-2-0
1,what is email marketing,5655493461695504401,0,3-14-2-0
2,what is meant by em marketing,5655493461695504401,0,3-14-2-0
3,what is the purpose of email marketing?,5655493461695504401,0,3-14-2-0
4,what is email marketing?,5655493461695504401,0,3-14-2-0
...,...,...,...,...
3437241,"natasha, pierre & the great comet of 1812 Nat...",8391452533341141122,28339,16-14-7-2
3437242,sarbanes – oxley act The Sarbanes -- Oxley Ac...,-1834169292338717359,109738,6-26-1-16
3437243,divergence,3633447138060018130,43021,23-18-11-4
3437244,"cardiac output Cardiac output ( CO , also den...",8453789254281810891,36157,23-1-14-1
3437245,smoke gets in your eyes `` Smoke Gets in Your...,1747539378277902434,54901,14-22-26-8

In [10]:
val_filename = "Data_process/NQ_dataset/nq_dev_doc_newid.tsv"

df_val = pd.read_csv(
                val_filename,
                names=["query", "queryid", "oldid", "bert_k30_c30_1"],
                encoding='utf-8', header=None, sep='\t',
                # dtype={'query': str, 'queryid': str, 'old
                # id': str, args.id_class: str}
                )

In [15]:
from transformers import T5Tokenizer

tokenizer = T5Tokenizer.from_pretrained('t5-base')

def tokenize_map_fn(text):
    return tokenizer(text)["input_ids"]

In [16]:
df_val["tkn"] = df_val["query"].map(tokenize_map_fn)

In [17]:
tkn_lst = df_val["tkn"].tolist()

In [19]:
ln_lst = [len(i) for i in tkn_lst]

In [20]:
max(ln_lst), min(ln_lst), sum(ln_lst)/len(ln_lst)

(33, 8, 13.065134099616857)

In [36]:
cnt = 0
for i in ln_lst:
    if i > 24:
        cnt += 1

cnt/len(ln_lst)

0.007407407407407408

In [35]:
# check for nan
print(df.isnull().sum())

query             6
queryid           0
oldid             0
bert_k30_c30_1    0
dtype: int64

In [36]:
df

,query,queryid,oldid,bert_k30_c30_1
0,internet email marketing definition,5655493461695504401,0,3-14-2-0
1,what is email marketing,5655493461695504401,0,3-14-2-0
2,what is meant by em marketing,5655493461695504401,0,3-14-2-0
3,what is the purpose of email marketing?,5655493461695504401,0,3-14-2-0
4,what is email marketing?,5655493461695504401,0,3-14-2-0
...,...,...,...,...
3122038,who have been the hosts of the price is right,-1413521544318030897,73064,24-22-4-3
3122039,who sang the song mama told me not to come,3779316254369130993,32552,14-28-10-3
3122040,who plays grey worm on game of thrones,6455931563852330492,99611,20-8-6-11
3122041,working principle of high pressure sodium vapo...,-7982911662792302578,37159,29-18-6-0
3122042,what is the latest red hat linux version,-6253518446509823267,108025,6-28-12-5

In [37]:
#  remove rows with nan
df = df.dropna()

In [38]:
df

,query,queryid,oldid,bert_k30_c30_1
0,internet email marketing definition,5655493461695504401,0,3-14-2-0
1,what is email marketing,5655493461695504401,0,3-14-2-0
2,what is meant by em marketing,5655493461695504401,0,3-14-2-0
3,what is the purpose of email marketing?,5655493461695504401,0,3-14-2-0
4,what is email marketing?,5655493461695504401,0,3-14-2-0
...,...,...,...,...
3122038,who have been the hosts of the price is right,-1413521544318030897,73064,24-22-4-3
3122039,who sang the song mama told me not to come,3779316254369130993,32552,14-28-10-3
3122040,who plays grey worm on game of thrones,6455931563852330492,99611,20-8-6-11
3122041,working principle of high pressure sodium vapo...,-7982911662792302578,37159,29-18-6-0
3122042,what is the latest red hat linux version,-6253518446509823267,108025,6-28-12-5

In [12]:
df

,query,queryid,oldid,bert_k30_c30_1
0,rent a list of email addresses from service co...,5655493461695504401,0,3-14-2-0
1,"status emails , reorder emails , and email rec...",5655493461695504401,0,3-14-2-0
2,"advertising , or permission marketing , is a m...",5655493461695504401,0,3-14-2-0
3,comparison to traditional advertising mail . A...,5655493461695504401,0,3-14-2-0
4,"email subscribers who have opted in ( i.e. , c...",5655493461695504401,0,3-14-2-0
...,...,...,...,...
1168580,edit ) Sarbanes -- Oxley Section 302 : disclos...,-1834169292338717359,109738,6-26-1-16
1168581,Committee members were not truly independent o...,-1834169292338717359,109738,6-26-1-16
1168582,. ) Debates continued as of 2007 over the perc...,-1834169292338717359,109738,6-26-1-16
1168583,. About Wikipedia,-1834169292338717359,109738,6-26-1-16
1168584,Pursuant to Section 401 ( c ) of the Sarbanes ...,-1834169292338717359,109738,6-26-1-16

In [39]:
# remove the queryid column
df = df.drop(columns=['queryid'])

In [ ]:
# number of duplicates rows
# print(df.duplicated().sum())

275273

In [42]:
# remove duplicates
df = df.drop_duplicates()

In [43]:
df

,query,oldid,bert_k30_c30_1
0,internet email marketing definition,0,3-14-2-0
1,what is email marketing,0,3-14-2-0
2,what is meant by em marketing,0,3-14-2-0
3,what is the purpose of email marketing?,0,3-14-2-0
4,what is email marketing?,0,3-14-2-0
...,...,...,...
3122038,who have been the hosts of the price is right,73064,24-22-4-3
3122039,who sang the song mama told me not to come,32552,14-28-10-3
3122040,who plays grey worm on game of thrones,99611,20-8-6-11
3122041,working principle of high pressure sodium vapo...,37159,29-18-6-0
3122042,what is the latest red hat linux version,108025,6-28-12-5

In [44]:
df_val

,query,queryid,oldid,bert_k30_c30_1
0,what do the 3 dots mean in math,6915606477668963399,101579,24-17-16-13
1,when was the writ watch invented by who,-4505971823174084926,56156,17-6-17-1
2,who wrote the song photograph by ringo starr,-8366545547296627039,108026,14-25-2-16
3,who is playing the halftime show at super bowl...,-5004457603684974952,2114,1-27-13
4,star wars the clone wars anakin voice actor,8494342737238168262,108027,20-23-29-6
...,...,...,...,...
7825,original cast of natasha pierre and the great ...,8391452533341141122,28339,16-14-7-2
7826,which of the following is not a provision of t...,-1834169292338717359,109738,6-26-1-16
7827,define divergence of vector field explain its ...,3633447138060018130,43021,23-18-11-4
7828,which of the following factors is not affectin...,8453789254281810891,36157,23-1-14-1
7829,who sang smoke gets in your eyes first,1747539378277902434,54901,14-22-26-8

In [17]:
unique_bert_lst = list(df.bert_k30_c30_1.unique())

In [19]:
unique_bert_lst = [[int(n) for n in s.split("-")] for s in unique_bert_lst]

In [21]:
ln_lst = [len(lst) for lst in unique_bert_lst]

In [22]:
max(ln_lst), min(ln_lst), sum(ln_lst)/len(ln_lst)

(5, 2, 3.9290862865526384)

In [23]:
max_lst = [max(lst) for lst in unique_bert_lst]

In [24]:
max(max_lst), min(max_lst), sum(max_lst)/len(max_lst)

(29, 0, 21.140041370889108)

In [5]:
import torch

rand_tensor = torch.rand(5, 5, 5)

In [7]:
rand_tensor.tolist()

[[[0.08121782541275024,
   0.548448383808136,
   0.2915217876434326,
   0.6966837644577026,
   0.17776131629943848],
  [0.5942038297653198,
   0.9404144883155823,
   0.8920539617538452,
   0.7237083911895752,
   0.39673101902008057],
  [0.5579320788383484,
   0.3380911946296692,
   0.0011336803436279297,
   0.7063068151473999,
   0.8964493870735168],
  [0.01826298236846924,
   0.8240851163864136,
   0.6517670750617981,
   0.8568078875541687,
   0.31909847259521484],
  [0.09420657157897949,
   0.9560553431510925,
   0.8512018322944641,
   0.24569034576416016,
   0.6348901987075806]],
 [[0.8493503332138062,
   0.34780752658843994,
   0.7140644192695618,
   0.9128609299659729,
   0.09367412328720093],
  [0.5762491822242737,
   0.29100942611694336,
   0.8767727017402649,
   0.9885680675506592,
   0.1534445881843567],
  [0.8246992826461792,
   0.621497631072998,
   0.8409630656242371,
   0.3275359272956848,
   0.5688059329986572],
  [0.9647955298423767,
   0.07063096761703491,
   0.47533321380615234,
   0.6752312183380127,
   0.1051783561706543],
  [0.8872414827346802,
   0.38180142641067505,
   0.8573437333106995,
   0.5851048827171326,
   0.5491746664047241]],
 [[0.6229414343833923,
   0.5069037079811096,
   0.5765463709831238,
   0.7662210464477539,
   0.6303883790969849],
  [0.18912798166275024,
   0.586431086063385,
   0.7380788326263428,
   0.3091006875038147,
   0.30142486095428467],
  [0.40639883279800415,
   0.15046948194503784,
   0.6613554954528809,
   0.632117509841919,
   0.9832713007926941],
  [0.5430660843849182,
   0.22272330522537231,
   0.48622918128967285,
   0.226803719997406,
   0.012709617614746094],
  [0.5160810351371765,
   0.31361687183380127,
   0.013380706310272217,
   0.2611432671546936,
   0.05711275339126587]],
 [[0.25543051958084106,
   0.6296069025993347,
   0.17310386896133423,
   0.8062677979469299,
   0.8706238269805908],
  [0.8484649658203125,
   0.8930407166481018,
   0.04501223564147949,
   0.044299542903900146,
   0.7074728012084961],
  [0.21806102991104126,
   0.0020651817321777344,
   0.9902264475822449,
   0.4213273525238037,
   0.48341846466064453],
  [0.05153006315231323,
   0.999123752117157,
   0.4105680584907532,
   0.9008058905601501,
   0.46489417552948],
  [0.27608633041381836,
   0.9584242701530457,
   0.24173539876937866,
   0.9966712594032288,
   0.196025550365448]],
 [[0.6239336729049683,
   0.3811734914779663,
   0.7774301171302795,
   0.4472668170928955,
   0.018301725387573242],
  [0.7434667944908142,
   0.8571650385856628,
   0.3614119291305542,
   0.4137176275253296,
   0.058249831199645996],
  [0.7252140641212463,
   0.11608994007110596,
   0.7387199997901917,
   0.9003506302833557,
   0.5166398882865906],
  [0.06581825017929077,
   0.4899188280105591,
   0.628044605255127,
   0.9669413566589355,
   0.16825968027114868],
  [0.7693156003952026,
   0.2933109998703003,
   0.8483613133430481,
   0.4493856430053711,
   0.24396073818206787]]]

In [1]:
from utills_final import AutocompleteDataset
from transformers import T5Tokenizer

tokenizer = T5Tokenizer.from_pretrained('t5-base')

train_dataset = AutocompleteDataset(tokenizer)

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

Saving the tree
Saving the doc_code
Tree and doc_code saved

In [2]:
train_dataset.d_max

134

In [3]:
lst = list(train_dataset.data[f"bert_{train_dataset.pred_type}"].unique())

In [4]:
lst_2 = [[int(x) for x in n.split("-")] for n in lst]

In [9]:
cnt = 0
lst_lst = []
for n in lst_2:
    if len(n) > 4:
        # print(n)
        lst_lst.append(n[-1])
        cnt += 1

cnt

272

In [11]:
30*4 + 2 +12

134

In [10]:
max(lst_lst)

12

In [3]:
(122 - 2)/30

4.0

In [ ]:
2-31, 32-61, 62-91, 92-121

In [1]:
from genret import T5ForConditionalGeneration
from transformers import AutoTokenizer, T5Config
from torch.utils.data import Dataset, DataLoader
from utills_final import AutocompleteDataset
import torch

tokenizer = AutoTokenizer.from_pretrained('t5-base')
config = T5Config.from_pretrained('t5-base')

config.decoder_vocab_size = 152
config.custom = True

model = T5ForConditionalGeneration(config)

ckpt_path = "t5-base_kmeans_1/epoch_2.pth"
ckpt = torch.load(ckpt_path)

model.load_state_dict(ckpt['model_state_dict'])

T5ForConditionalGeneration has generative capabilities, as `prepare_inputs_for_generation` is explicitly overwritten. However, it doesn't directly inherit from `GenerationMixin`. From 👉v4.50👈 onwards, `PreTrainedModel` will NOT inherit from `GenerationMixin`, and this model will lose the ability to call `generate` and other related functions.
  - If you're using `trust_remote_code=True`, you can get rid of this warning by loading the model with an auto class. See https://huggingface.co/docs/transformers/en/model_doc/auto#auto-classes
  - If you are the owner of the model architecture code, please modify your model class such that it inherits from `GenerationMixin` (after `PreTrainedModel`, otherwise you'll get an exception).
  - If you are not the owner of the model architecture class, please contact the model code owner to update it.

Linear(in_features=768, out_features=152, bias=False)
post init
Linear(in_features=768, out_features=152, bias=False)

In [2]:
train_dataset = AutocompleteDataset(tokenizer)
val_dataset = AutocompleteDataset(tokenizer, split='val', infer=True)

Saving the tree
Saving the doc_code
Tree and doc_code saved
Saving the tree
Saving the doc_code
Tree and doc_code saved

In [3]:
val_dataloader = DataLoader(val_dataset, batch_size=50)

In [4]:
device = torch.device("cuda:3" if torch.cuda.is_available() else "cpu")

model.to(device)

T5ForConditionalGeneration(
  (shared): Embedding(32128, 768)
  (decoder_embed): Embedding(152, 768)
  (encoder): T5Stack(
    (embed_tokens): Embedding(32128, 768)
    (block): ModuleList(
      (0): T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
              (relative_attention_bias): Embedding(32, 12)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
      (1-11): 11 x T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (final_layer_norm): T5LayerNorm()
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (decoder): T5Stack(
    (embed_tokens): Embedding(152, 768)
    (block): ModuleList(
      (0): T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
              (relative_attention_bias): Embedding(32, 12)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerCrossAttention(
            (EncDecAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (2): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
      (1-11): 11 x T5Block(
        (layer): ModuleList(
          (0): T5LayerSelfAttention(
            (SelfAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (1): T5LayerCrossAttention(
            (EncDecAttention): T5Attention(
              (q): Linear(in_features=768, out_features=768, bias=False)
              (k): Linear(in_features=768, out_features=768, bias=False)
              (v): Linear(in_features=768, out_features=768, bias=False)
              (o): Linear(in_features=768, out_features=768, bias=False)
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
          (2): T5LayerFF(
            (DenseReluDense): T5DenseActDense(
              (wi): Linear(in_features=768, out_features=3072, bias=False)
              (wo): Linear(in_features=3072, out_features=768, bias=False)
              (dropout): Dropout(p=0.1, inplace=False)
              (act): ReLU()
            )
            (layer_norm): T5LayerNorm()
            (dropout): Dropout(p=0.1, inplace=False)
          )
        )
      )
    )
    (final_layer_norm): T5LayerNorm()
    (dropout): Dropout(p=0.1, inplace=False)
  )
  (lm_head): Linear(in_features=768, out_features=152, bias=False)
)

In [5]:
import tqdm

model.eval()
pred_lst = []
qid_lst = []
trg_lst = []
print("STARTING VALIDATION")

with torch.no_grad():
    for batch in tqdm.tqdm(val_dataloader):
        inputs, targets, qid = batch
        # Prepare data
        input_ids = inputs['input_ids'].squeeze(1).to(device)
        attention_mask = inputs['attention_mask'].squeeze(1).to(device)
        labels = targets.squeeze(1).to(device)

        if hasattr(model, "module"):
            outputs = model.module.generate(input_ids=input_ids,
                                    attention_mask=attention_mask,
                                    num_beams=100,
                                    num_return_sequences=100,
                                    prefix_allowed_tokens_fn = lambda batch_id, input_ids: train_dataset.sub_get(input_ids.tolist())
                                    )
        else:
            outputs = model.generate(input_ids=input_ids, 
                                    attention_mask=attention_mask,
                                    num_beams=100,
                                    num_return_sequences=100,
                                    prefix_allowed_tokens_fn = lambda batch_id, input_ids: train_dataset.sub_get(input_ids.tolist())
                                    )
        outputs = outputs[:, 1:]

        if labels.shape[1] > outputs.shape[1]:
            # extend outputs with pad tokens
            pad = torch.full((outputs.shape[0], labels.shape[1] - outputs.shape[1]), tokenizer.pad_token_id, dtype=torch.long).to(device)
            outputs = torch.cat((outputs, pad), dim=1)
        elif labels.shape[1] < outputs.shape[1]:
            pad = torch.full((labels.shape[0], outputs.shape[1] - labels.shape[1]), tokenizer.pad_token_id, dtype=torch.long).to(device)
            labels = torch.cat((labels, pad), dim=1)

        # outputs = outputs[:, 1:]

        outputs = outputs.view(-1, 100, outputs.shape[1])

        labels[labels == -100] = tokenizer.pad_token_id
        
        pred_lst += outputs.tolist()
        qid_lst += list(qid)
        trg_lst += labels.tolist()

        # print(pred_lst)

    # trg_lst = [train_dataset.code_doc[str(i)] for i in trg_lst]
    # pred_lst = [[train_dataset.code_doc[str(i)] for i in beam] for beam in pred_lst]
    
    # pred_dct = prepare_pred(pred_lst, qid_lst)
    # gt_dct = prepare_gt(trg_lst, qid_lst)

    # recal_dct = {}
    # metric_dct = {}
    # for k in [1, 5, 10, 50, 100]:
    #     recal_dct[k] = recal_at_k(pred_dct, gt_dct, k)
    #     metric_dct[f"eval/recall@{k}"] = recal_dct[k]
    
    # mrr_score = mrr(pred_dct, gt_dct)
    # metric_dct["eval/mrr"] = mrr_score

STARTING VALIDATION

  0%|          | 0/157 [00:00<?, ?it/s]/raid/kavin-intern-maunendra/anaconda3/envs/wow/lib/python3.10/site-packages/transformers/generation/utils.py:1220: UserWarning: Using the model-agnostic default `max_length` (=20) to control the generation length. We recommend setting `max_new_tokens` to control the maximum length of the generation.
  warnings.warn(
100%|██████████| 157/157 [32:17<00:00, 12.34s/it]

In [6]:
def prepare_pred(pred, qid, dps):
    # pred B x Beams x L (list)
    # qid B x 1 (list)
    dct = {}
    for eg, id in zip(pred, qid):
        if id not in dct:
            dct[id] = []
        
        for beam in eg:
            #  make sure seq len is 6
            if len(beam) < 6:
                new_beam = beam + [0] * (6 - len(beam))
                print("bi")
            elif len(beam) > 6:
                new_beam = beam[:6]
                print("bi2")
            else:
                new_beam = beam

            dct[id].append(dps[str(new_beam)])
    return dct

def prepare_gt(gt, qid, dps):
    # gt B x L (list)
    # qid B x 1 (list)
    dct = {}
    for eg, id in zip(gt, qid):
        if id not in dct:
            dct[id] = []

        # make sure seq len is 6
        if len(eg) < 6:
            new_eg = eg + [0] * (6 - len(eg))
            print("hi")
        elif len(eg) > 6:
            new_eg = eg[:6]
            print("hi2")
        else:
            new_eg = eg

        dct[id].append(dps[str(new_eg)])
    
    return dct

def recal_at_k(pred_dct, gt_dct, k):
    # pred_dct: qid -> list of beams
    # gt_dct: qid -> list of beams
    total = 0
    correct = 0
    for qid in pred_dct:
        pred = pred_dct[qid][:k]
        gt = gt_dct[qid]
        for cand in pred:
            # print(f"candid: {cand}, gt: {gt}")
            if cand == gt[0]:
                correct += 1
                break
        total += 1
    return correct / total

def mrr(pred_dct, gt_dct):
    # pred_dct: qid -> list of beams
    # gt_dct: qid -> list of beams
    total = 0
    score = 0
    for qid in pred_dct:
        pred = pred_dct[qid]
        gt = gt_dct[qid]
        for i, cand in enumerate(pred):
            if cand in gt:
                score += 1/(i+1)
        total += 1
    return score / total

In [7]:
p_lst = [p[0] for p in pred_lst]

res_lst = [p == t for p, t in zip(p_lst, trg_lst)]

In [8]:
sum(res_lst)/len(res_lst)

0.2597701149425287

In [9]:
pred_dct = prepare_pred(pred_lst, qid_lst, train_dataset.code_doc)
gt_dct = prepare_gt(trg_lst, qid_lst, train_dataset.code_doc)

recal_dct = {}
metric_dct = {}
for k in [1, 5, 10, 50, 100]:
    recal_dct[k] = recal_at_k(pred_dct, gt_dct, k)
    metric_dct[f"eval/recall@{k}"] = recal_dct[k]

mrr_score = mrr(pred_dct, gt_dct)
metric_dct["eval/mrr"] = mrr_score

In [10]:
metric_dct

{'eval/recall@1': 0.2597701149425287,
 'eval/recall@5': 0.45849297573435505,
 'eval/recall@10': 0.5348659003831417,
 'eval/recall@50': 0.6924648786717752,
 'eval/recall@100': 0.7475095785440613,
 'eval/mrr': 0.3520194766841433}

In [ ]:
{'eval/recall@1': 0.25734355044699875,
 'eval/recall@5': 0.44648786717752237,
 'eval/recall@10': 0.44648786717752237,
 'eval/recall@50': 0.44648786717752237,
 'eval/recall@100': 0.44648786717752237,
 'eval/mrr': 0.32798212005108585}

{'eval/recall@1': 0.2409961685823755,
 'eval/recall@5': 0.3061302681992337,
 'eval/recall@10': 0.3061302681992337,
 'eval/recall@50': 0.3061302681992337,
 'eval/recall@100': 0.3061302681992337,
 'eval/mrr': 0.2735632183908046}

In [18]:
len(pred_lst[0])

10

In [19]:
pred_lst[0]

[[26, 49, 78, 95, 1, 0],
 [12, 32, 79, 93, 1, 0],
 [25, 49, 74, 95, 1, 0],
 [12, 32, 79, 92, 1, 0],
 [25, 49, 74, 93, 1, 0],
 [26, 49, 78, 94, 1, 0],
 [25, 49, 74, 92, 1, 0],
 [25, 49, 63, 95, 1, 0],
 [26, 49, 78, 92, 1, 0],
 [25, 49, 74, 94, 1, 0]]

In [12]:
trg_lst

[[26, 49, 78, 105, 1, 0],
 [19, 38, 79, 93, 1, 0],
 [16, 57, 64, 108, 1, 0],
 [3, 59, 75, 1, 0, 0],
 [22, 55, 91, 98, 1, 0],
 [16, 45, 81, 92, 1, 0],
 [24, 54, 84, 93, 1, 0],
 [18, 44, 91, 101, 1, 0],
 [18, 44, 78, 94, 1, 0],
 [24, 50, 66, 92, 1, 0],
 [5, 56, 69, 92, 1, 0],
 [28, 42, 90, 95, 1, 0],
 [8, 42, 69, 108, 1, 0],
 [30, 41, 66, 1, 0, 0],
 [19, 35, 85, 99, 1, 0],
 [7, 53, 76, 97, 1, 0],
 [10, 32, 86, 1, 0, 0],
 [9, 35, 64, 101, 1, 0],
 [19, 32, 82, 100, 1, 0],
 [26, 33, 72, 93, 1, 0],
 [8, 58, 71, 96, 1, 0],
 [13, 52, 74, 92, 1, 0],
 [30, 35, 89, 92, 1, 0],
 [14, 50, 69, 93, 1, 0],
 [16, 47, 84, 93, 1, 0],
 [5, 37, 84, 94, 1, 0],
 [11, 42, 71, 96, 1, 0],
 [11, 34, 66, 93, 1, 0],
 [6, 55, 74, 92, 1, 0],
 [11, 53, 77, 92, 1, 0],
 [18, 34, 68, 96, 1, 0],
 [29, 37, 90, 96, 1, 0]]

In [11]:
pred_lst[0]

[[49, 78, 95, 1, 0],
 [32, 79, 93, 1, 0],
 [49, 74, 95, 1, 0],
 [32, 79, 92, 1, 0],
 [49, 74, 93, 1, 0],
 [49, 78, 94, 1, 0],
 [49, 74, 92, 1, 0],
 [49, 63, 95, 1, 0],
 [49, 78, 92, 1, 0],
 [49, 74, 94, 1, 0]]

In [1]:
import torch

rand_tensor = torch.rand(5, 5, 5)
rand_tensor

tensor([[[0.0223, 0.9855, 0.6074, 0.3230, 0.5782],
         [0.0318, 0.0090, 0.8735, 0.0375, 0.5521],
         [0.4762, 0.5018, 0.8461, 0.4743, 0.2513],
         [0.4172, 0.8119, 0.9179, 0.8308, 0.9694],
         [0.7497, 0.0969, 0.6612, 0.0837, 0.0414]],

        [[0.2843, 0.7538, 0.7828, 0.2306, 0.2120],
         [0.0498, 0.4700, 0.1058, 0.6334, 0.2183],
         [0.8574, 0.6747, 0.6488, 0.6249, 0.7255],
         [0.3645, 0.8215, 0.0204, 0.8821, 0.6453],
         [0.4464, 0.7756, 0.7146, 0.0091, 0.3280]],

        [[0.4447, 0.5996, 0.6334, 0.8040, 0.5439],
         [0.1948, 0.9019, 0.7913, 0.1307, 0.3795],
         [0.4356, 0.4858, 0.5356, 0.8531, 0.6621],
         [0.8241, 0.7884, 0.2775, 0.0155, 0.4695],
         [0.0543, 0.6385, 0.5582, 0.6895, 0.3228]],

        [[0.1751, 0.2733, 0.7190, 0.3477, 0.8326],
         [0.2099, 0.5354, 0.5768, 0.1163, 0.6427],
         [0.1169, 0.4322, 0.2092, 0.2197, 0.6222],
         [0.4742, 0.4160, 0.3947, 0.5375, 0.2579],
         [0.5896, 0.4191, 0.5051, 0.8947, 0.0224]],

        [[0.7671, 0.9521, 0.6733, 0.0695, 0.4442],
         [0.6607, 0.7357, 0.8334, 0.7742, 0.9827],
         [0.2402, 0.8780, 0.1551, 0.8531, 0.2302],
         [0.0067, 0.2971, 0.9477, 0.2477, 0.0446],
         [0.7313, 0.9967, 0.4029, 0.0737, 0.6867]]])

In [3]:
rand_tensor/10

tensor([[[0.0022, 0.0986, 0.0607, 0.0323, 0.0578],
         [0.0032, 0.0009, 0.0874, 0.0038, 0.0552],
         [0.0476, 0.0502, 0.0846, 0.0474, 0.0251],
         [0.0417, 0.0812, 0.0918, 0.0831, 0.0969],
         [0.0750, 0.0097, 0.0661, 0.0084, 0.0041]],

        [[0.0284, 0.0754, 0.0783, 0.0231, 0.0212],
         [0.0050, 0.0470, 0.0106, 0.0633, 0.0218],
         [0.0857, 0.0675, 0.0649, 0.0625, 0.0726],
         [0.0365, 0.0822, 0.0020, 0.0882, 0.0645],
         [0.0446, 0.0776, 0.0715, 0.0009, 0.0328]],

        [[0.0445, 0.0600, 0.0633, 0.0804, 0.0544],
         [0.0195, 0.0902, 0.0791, 0.0131, 0.0380],
         [0.0436, 0.0486, 0.0536, 0.0853, 0.0662],
         [0.0824, 0.0788, 0.0277, 0.0016, 0.0469],
         [0.0054, 0.0638, 0.0558, 0.0689, 0.0323]],

        [[0.0175, 0.0273, 0.0719, 0.0348, 0.0833],
         [0.0210, 0.0535, 0.0577, 0.0116, 0.0643],
         [0.0117, 0.0432, 0.0209, 0.0220, 0.0622],
         [0.0474, 0.0416, 0.0395, 0.0538, 0.0258],
         [0.0590, 0.0419, 0.0505, 0.0895, 0.0022]],

        [[0.0767, 0.0952, 0.0673, 0.0070, 0.0444],
         [0.0661, 0.0736, 0.0833, 0.0774, 0.0983],
         [0.0240, 0.0878, 0.0155, 0.0853, 0.0230],
         [0.0007, 0.0297, 0.0948, 0.0248, 0.0045],
         [0.0731, 0.0997, 0.0403, 0.0074, 0.0687]]])

In [4]:
from transformers import T5Tokenizer

tokenizer = T5Tokenizer.from_pretrained('t5-base')

sents = ["hello", "world", "how", "are", "you"]

tkn_lst = [tokenizer(s)["input_ids"] for s in sents]

You are using the default legacy behaviour of the <class 'transformers.models.t5.tokenization_t5.T5Tokenizer'>. This is expected, and simply means that the `legacy` (previous) behavior will be used so nothing changes for you. If you want to use the new behaviour, set `legacy=False`. This should only be set if you understand what it means, and thoroughly read the reason why this was added as explained in https://github.com/huggingface/transformers/pull/24565

In [5]:
tkn_lst

[[21820, 1], [296, 1], [149, 1], [33, 1], [25, 1]]